* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 15px 20px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}

.circlerow {
  display: flex;
  padding-bottom: 5px;
}

.green {
  margin: 15px 0;
  width: 600px;
  height: 130px;
  background: #f5ffee;
  padding: 14px 22px;
  border-radius: 9px;
}
.greenCircle {
  background: #9fd3a5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 6px;
}
.yellow {
  margin: 15px 0;
  width: 600px;
  height: 130px;
  background: #fffff1;
  padding: 14px 22px;
  border-radius: 9px;
}
.yellowCircle {
  background: #f2e888;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 6px;
}
.blue {
  margin: 15px 0;
  width: 600px;
  height: 130px;
  background: #f2f7ff;
  padding: 14px 22px;
  border-radius: 9px;
}
.blueCircle {
  background: #88bff2;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 6px;
}
